/* FONTS */
$font-family: 'Montserrat', sans-serif;
$font-size-base: 1rem !default;

/* COLOURS */
$color-primary: #333;
$carrot-orange: #E98826;
$razzmatazz: #EC1B7A;
$white: #FAFAFA;

/* LAYOUT */
$min-width: 320px;

/* OTHER */
$box-shadow:
  0 0.4px 0.4px rgba(0, 0, 0, 0.022),
  0 1px 1px rgba(0, 0, 0, 0.031),
  0 2.1px 2.1px rgba(0, 0, 0, 0.039),
  0 4.4px 4.4px rgba(0, 0, 0, 0.048),
  0 12px 12px rgba(0, 0, 0, 0.07);
