html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  @include font-size($font-size-base);

  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1;
  color: $color-primary;
}
