.player-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-controls {
  display: flex;
  flex-direction: row;
  flex: 1;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--play {
      flex: 1;
    }
  }

  [class^='icon--'],
  [class*=' icon--'] {
    color: $white;

    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

.player__status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: rgba($grey, 0.2);
}

.player__message {
  font-size: 1.6rem;
  font-weight: bold;
  color: $white;

  @media screen and (min-width: $size-small) {
    font-size: 2.2rem;
    font-weight: normal;
  }
}
