.sidebar-button {
  position: absolute;
  left: 2rem;
  width: 3.2rem;
  height: 3.2rem;

  @media screen and (min-width: $screen-tablet) {
    left: 2.4rem;
    width: 4.4rem;
    height: 4.4rem;
  }
}
