body{
    margin: 0;}
.panel{
    background-image: url(../img/rapsberry.jpg);
    height: 120vh;
}
.panel_filter{
    height: 120vh;}
.panel_header{
  display: flex;
  justify-content: space-between;
}
.panel_header_menu{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 5vh;
  width: 5vh;
  margin: 3vh 3vh 0 0;
 
}
.panel_header_menu:hover{
  cursor: pointer;
}
.panel_header_menu_button{
  height: .7vh;
  width: 6vh;
  background-color: rgb(255, 255, 255);
  align-self: center;

}
.panel_header_logo{
    height: 3vh;
    margin: 0 2vh;
}
.panel_header_logo img{
  height: 12vh;
}
.panel_header_menu_button_menu{
  z-index: 1;
  width: 65%;
  font-size: 3.3vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px grey;
  position: absolute;
  left: 35%;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(93, 98, 107);

}
.icons_wrap{
  display: flex;
  cursor: pointer;
}
.panel_header_menu_button_menu>p{
  width: 80%;
  margin: 1vh auto;
  color: rgb(187, 187, 187);
}
.panel_header_menu_button_menu_p{
  padding: 2.5vh;
  width: 80%;
  margin: 0 auto;
}
.panel_header_menu_button_menu_add{  
  border-bottom: 1px solid rgb(168, 168, 168);
}
.panel_header_menu_button_menu_p p{
  line-height: 5vh}
.stations{
      /* box-shadow: 0 0 8px rgba(255, 255, 255, 0.7); */
    color: rgb(36, 33, 49);
    margin-top: 6vh;
    height: 65vh;
    overflow: scroll;
    ;
    /* margin-top: -90vh; */
   }
.stations_filter{
padding: 0;
margin: 0;
}
.darker{
  background-color: rgb(39, 39, 39,.7);
  pointer-events:none

}
.station_container{
    margin: 2vh 1vh 0 1vh;
    /* font-variant: small-caps; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.stations_station{
    padding: 2vh;
    display: flex;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    list-style: none;
    background-color: white;

}

.stations_station_marked:before{
  box-shadow: 0 0 3px 2px  #a05c83;
}
.stations_station::before{
  content: "";
  align-self: center;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #a05c83;
}
.stations_station_marked:before{
    box-shadow: inset 0 0 3px 2px #a05c83;
    }

.stations_station_clicked{
    /* background-color: rgb(180, 166, 180); */
    box-shadow:inset 0 0 20px rgb(148, 148, 148);
    /* background-color: rgb(223, 223, 223); */
    margin: 0 auto;
    padding: 2vh;
    /* font-variant: small-caps; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.stations_station_box{
    width: 100%;
  margin-left: 2vh;
  display: flex;
  justify-content: space-between;
}
.stations_station_box:hover{
    transform: scale(.97);

}
.stations_station_box_delete{
margin-right: 2vh;
width: 7vh;
height: 7vh;
border:2px solid rgb(151, 115, 127);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transform: rotate(45deg);
}

.stations_station_box_delete_x{
    color: rgb(151, 115, 127);
    font-size: 7vh;
    font-weight: 500;
}
.stations_station_box_delete:hover>.stations_station_box_delete_x{
    transform: scale(.7);
    color: rgb(102, 40, 61);
}

.stations_station_box_delete:hover{
    background-color: rgb(255, 255, 255,.8);
    border: 2px solid rgb(102, 40, 61);
}
.stations_station:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.stations_station_box:hover{
    transform: scale(.97);
    cursor: pointer;
    font-weight: 600;
    /* background-color:  rgb(148, 143, 160); */
}

p{
    margin: 0;
}
.views{
    z-index: 1;
    position: absolute;
    background-color: rgb(224, 224, 224);
    width: 100%;
    margin: 0 auto;    
}
.views_option{
    display: flex;
    padding: 1vh;
    width: 90%;
    margin: 0.5vh auto;
    background-color: rgb(255, 255, 255);}
.views_option:hover{
    cursor: pointer;
    transform: scale(.97);
    background-color: rgb(249, 225, 255);
}
.views_option p{
    align-self: center;
    margin-left: 6vh;
}
.panel_current_controls {
    padding: 4vh 0;
    display: flex;
    justify-content: space-around;
    margin: 0 2vh;
  }
  
  .panel_current_controls_button {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 10px 0 rgb(21, 15, 37), inset 0 2px 3px rgba(240, 232, 241, 0.7);

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
  }
  .panel_current_controls_info{
      display: flex;
      flex-direction: column;
      align-self: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-variant: small-caps;
      color: rgb(243, 243, 243);
      margin-right: 2vh;

  }
  .panel_current_controls_info::nth-child(2){
    background-color: #dbdbdb;

  }
  .panel_current_controls_info_title{
    margin-bottom: 2vh;
    font-size: 3.5vh;
    font-weight: 700;


  }
  .panel_current_controls_button:active {
    scale: 0.8;
  }

  .panel_current_controls_button:hover>#play {
    transform: scale(0.8);
  }
   .panel_current_controls_button:hover{
    box-shadow:  0 5px 10px 0 rgb(21, 15, 37), inset 0 0 10px 10px rgba(255, 255, 255, 0.4);
  }
  .panel_current_controls_button_pause {
    opacity: 0.9;
    transition: all 0.2s;
    /* display: inline-block; */
    width: 4px;
    height: 1em;
    border-right: calc(0.5em - 2px) solid rgba(247, 242, 242);
    border-left: calc(0.5em - 2px) solid rgba(247, 242, 242);
    border-top: 0;
    border-bottom: 0;
    background-color: transparent;
  }
  .panel_current_controls_button_play {
    margin-left: 4px;
    width: 0;
    height: 0;
    border-right: 0;
    border-left: 1em solid rgba(247, 242, 242);
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
  }
 