body {
  min-width: $min-width;
  background-color: $white;
}

.site-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-content {
  position: relative;
  display: flex;
  flex: 1;
  background: $razzmatazz;
  background: linear-gradient(to bottom, rgba($carrot-orange, 0.8) 0%, rgba($razzmatazz, 0.8) 100%);
}
